{% extends '_layout' %}

{% block main %}

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">


					{% set query = craft.entries().section('blog').limit(3) %}

					{% paginate query as pageInfo, pageEntries %}

						{% for entry in pageEntries %}

							<div class="case">
								<div class="row">
									<div class="col-md-6 col-lg-6 col-xl-8 d-flex">
										<a href="https://{{entry.url}}" class="img w-100 mb-3 mb-md-0" style="background-image: url(images/image_1.jpg);"></a>
									</div>
									<div class="col-md-6 col-lg-6 col-xl-4 d-flex">
										<div class="text w-100 pl-md-3">
										{% for category in entry.categories.all() %}
										<span class="subheading"><a href="https://{{category.url}}"> {{category}} </a></span>
										{% endfor %}
											<h2>
												<a href="https://{{entry.url}}">{{entry.title}}</a>
											</h2>
											
											{% set desc = entry.blogContent %}
											<p> 
											{{entry.blogContent}}
											</p>

											<ul class="media-social list-unstyled">
												<li class="ftco-animate">
													<a href="#">
														<span class="icon-twitter"></span>
													</a>
												</li>
												<li class="ftco-animate">
													<a href="#">
														<span class="icon-facebook"></span>
													</a>
												</li>
												<li class="ftco-animate">
													<a href="#">
														<span class="icon-instagram"></span>
													</a>
												</li>
											</ul>
											<div class="meta">
												<p class="mb-0">
													<a href="#">{{entry.postDate | date("M d, Y")}}</a>
													|
													<a href="#">12 min read</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						{% endfor %}

						{% if pageInfo.prevUrl %}
							<a href="https://{{ pageInfo.prevUrl }}">Newer Posts</a>
						{% endif %}
						{% if pageInfo.nextUrl %}
							<a href="https://{{ pageInfo.nextUrl }}">Older Posts</a>
						{% endif %}

					

						
				</section>

			{% endblock %}
